body{
    background-color: rgb(174, 192, 252);
    font-family: "Roboto", sans-serif;
    
}
header{
    background-color: rgb(126, 118, 214);
}

head{
    font-family: "Roboto", sans-serif;
}

.sign-up{
    font-size: large;
    font-family: "montserrat", sans-serif;
    position: relative;
    text-align: left;
    left:670px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
}

.cart{
    font-family: "montserrat", sans-serif;
    font-size: large;
    position: relative;
    text-align: left;
    left:440px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
}

.about-us{
    font-size: large;
    font-family: "montserrat", sans-serif;
    position: relative;
    text-align: left;
    left: 665px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
    
}
.phone-number{
    font-family: "montserrat", sans-serif;
}

.about-us:hover{
    color: #fff;

}.cart:hover{
    color: #fff;

}.sign-up:hover{
    color: #fff;
}
.settings{
   position: relative;
   text-align: left;
   left: 1375px;
   bottom: 50px;
}
.settings-button{
    background-color: rgb(174, 192, 252);
    border:1px solid rgb(174, 192, 252);
    position: relative;
    text-align: left;
    left: 1340px;
    bottom: 60px;
}
.cart{
    background-color: rgb(174, 192, 252);
    border:1px solid rgb(174, 192, 252);
}


/* Not Working! */
.settings-button:hover{
    color: #fff;
}