body{
    background-color: rgb(174, 192, 252);
    font-family: "Roboto", sans-serif;
}
header{
    background-color: rgb(126, 118, 214);

}


head{
    font-family: "Roboto", sans-serif;
}

.sign-up{
    font-size: large;
    font-family: "montserrat", sans-serif;
    position: relative;
    text-align: left;
    left:700px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
}



.cart{
    font-family: "montserrat", sans-serif;
    font-size: large;
    position: relative;
    text-align: left;
    left:440px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
    

}

.about-us{
    font-size: large;
    font-family: "montserrat", sans-serif;
    position: relative;
    text-align: left;
    left: 665px;
    border:1px solid rgb(174, 192, 252);
    background-color: rgb(174, 192, 252);
    
}

.about-us:hover{
    color: #fff;

}.cart:hover{
    color: #fff;

}.sign-up:hover{
    color: #fff;
}